-@ val title: String = "test title"
-@ val body: String
-@ val classes: String = "tftextresults"

!!! Basic
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="ROBOTS" content="NOINDEX, NOFOLLOW")
    link(rel="stylesheet" type="text/css" href={uri("/css/style.css")})
    title = title
  body
    !~~ body